body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #f5e000;
}
header {
    background-color: #0066b0;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
header h1 {
    color:#f5e000;
}
main {
    padding: 20px;
}
#product-form {
    background-color: #0066b0;
    height: 340px;
    border:2px solid gray;
    border-radius: 4px;
    width: 40%;
    box-shadow: 2px 0 6px rgb(18, 87, 172);
}
h2 {
    color:#f5e000;
    margin-left: 10px;
}
form input, form textarea {
    display: block;
    width: 30%;
    margin-bottom: 15px;
    margin-left: 10px;
    padding: 8px;
}
form button {
    padding: 10px 20px;
    background-color: #ffea08;
    color: #fff;
    border: 4px solid #ffea08;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

form button:hover {
    background-color: #fefa36;
    border: 4px solid #fefa36;
}
#create {
    color:#006ada;
    font-weight: 600;
    margin-left: 10px;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 250px;
    background-color: #fff;
}

.product-card img {
    max-width: 100%;
    border-radius: 5px;
}

.product-card button {
    margin: 5px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
}

.product-card button.update {
    background-color: #28a745;
}
footer {
    background-color: #0066b0;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin:0;
}
footer p {
    color:#ffea08;
}
